.project{
    font-size: 2em;
    background: linear-gradient(90deg, #d4af37, #ffd700, #b8860b);
    -webkit-background-clip: text;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.5), 0 0 10px rgba(255, 223, 0, 0.3);
    animation: shine 2s infinite;   
}
